fastapi==0.115.8
fastapi-utils==0.8.0
g4f[openai,webdriver]==0.4.5.1
pydantic-settings==2.7.1
pydantic==2.10.6
hypercorn==0.17.3
jinja2==3.1.5
curl_cffi==0.9.0
typing-inspect==0.9.0
aiohttp_socks==0.10.1
browser_cookie3==0.20.1
nodriver==0.39
